---
layout: default
---

<h1>{{ site.title }}</h1>

<div class="home-text-image">
  <div>
    <img src="assets\images\2021-12-11-justin-headshot-500x500.jpg" alt="Justin Hochschild profile picture">
  </div>
  <p>Hi! My name is Justin Hochschild. I am currently studying Software and Web Development at A-B Tech in Asheville NC. I am passionate about web technologies and anything tech related. This is a simple site I created to share my github portfolio and blog about things I am learning and interested in.</p>
</div>

{% if site.theme_config.show_projects == true %}
  <h2>{{ site.theme_config.home.title_projects }}</h2>
  {% include card_list.html collection=site.data.home.project_entries %}
{% endif %}

{% if site.theme_config.show_misc_list == true %}
  <h2>{{ site.theme_config.home.title_misc_list }}</h2>
  {% include vertical_list.html collection=site.data.home.misc_entries %}
{% endif %}

{% if site.theme_config.show_blog == true %}
  <h2>Latest Blog Posts</h2>
  {% include post_list_limited.html %}
{% endif %}

{% if site.theme_config.show_old_projects == true %}
  <h2>{{ site.theme_config.home.title_old_projects }}</h2>
  {% include card_list.html collection=site.data.home.old_project_entries %}
{% endif %}
